@{
    ViewBag.Title = "About Happy Feet Shoe Store";
   
}
<h2>@ViewBag.Title.</h2>
<h3>We focus on keeping your feet happy</h3>

<p>Quality shoes is our passion.</p>

<p>Our company is an enviromental friendly company and believe in a sustainable future. </p>
