@{
    ViewBag.Title = "Contact Details:";
}
<h2>@ViewBag.Title</h2>

<address>
    Auckland city<br />
    Glenfied<br />
    425.555.0100<br/>
</address>
 <br/>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@happyfeetstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@happyfeetstore.com</a>
</address>